html {
	background-image: url(images/background.jpg); 
	background-size: cover;
	background-repeat: repeat;
}

p {
	text-align: center;
	border-style: ridge;
	background-color: #90EE90;
	font-size: 20px;
	font-family: "Cursive", Lucida Handwriting;
}

img {
	  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
	text-align: center;
	background-color: #ffffff;
	font-size: 50px;
	font-family: "Fantasy", Copperplate;
}
p {	
	text-align: center;
	border-style: ridge;
	background-color: #90EE90;
	font-size: 20px;
	font-family: "Cursive", Lucida Handwriting;
}
.flier {
    pointer-events: none;
}
.flier > * {
        animation: fly 50s linear infinite;
        pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 1s;
    z-index: 999999;
	height: 100px;
    width: auto;
}
@keyframes fly {

    98.001%, 0% {
                display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }
    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }
    15.001%, 18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }
    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }
    40.001%, 43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }
    65% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }
    65.001%, 68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }
    95% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
}
}
	
.froggy {
	height: 20px;
	width: auto;
	animation-name: froggo;
	animation-duration: 10s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
@keyframes froggo {
from {transform : translateX(-20em);}
to {transform : translateX(0em);}
}

.froggie {
	height: 20px;
	width: auto;
	animation-name: froggin;
	animation-duration: 10s;
	animation-delay: 0s;
	animation-fill-mode: backwards;
	animation-iteration-count: 1;

}
@keyframes froggin {
from {transform : translateX(20em);}
to {transform : translateX(0em);}
}